@font-face {
  font-family: "Norse";
  src: url("/assets/fonts/Norse-Bold.woff2") format("woff2"),
    url("/assets/fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: lightgray;
  display: flex;
}

.bg-container {
  position: relative;
  width: 30vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 100px;
  height: auto;
}

.logo-bg {
  position: absolute;
  background-color: #00000075;
  width: 100%;
  top: 150px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-family: Norse;
  font-size: 6rem;
  color: white;
}
